.pezdatabase_steminfo_element_left{
    background-color: #FFFFFF;
    color: red;
    font-family: impact;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 6px;
    box-shadow: 5px 5px 6px #224466;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 5px 5px 6px #224466;


}

.pezdatabase_steminfo_element_right {
    display: none;
}

.pezdatabase_packaging_element_left {
    background-color: #FFFFFF;
    color: red;
    font-family: impact;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 6px;
    box-shadow: 5px 5px 6px #224466;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 5px 5px 6px #224466;
}

.pezdatabase_packaging_element_right {
    display: none;
}

.pezdatabase_purchaseinfo_element_left {
    background-color: #FFFFFF;
    color: red;
    font-family: impact;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 6px;
    box-shadow: 5px 5px 6px #224466;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 5px 5px 6px #224466;

}

.pezdatabase_purchaseinfo_element_right {
    display: none;
}
 